################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement.API/.vs/EmployeeManagement.API.slnx/FileContentIndex
/EmployeeManagement.API/.vs/EmployeeManagement.API/CopilotIndices/18.8.1055.19665
/EmployeeManagement.API/obj/Debug/net10.0/EmployeeManagement.API.AssemblyInfo.cs
/EmployeeManagement.API/obj/Debug/net10.0/EmployeeManagement.API.AssemblyInfoInputs.cache
EmployeeManagement.API/obj
EmployeeManagement.API/debug
EmployeeManagement.API/.vs