################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement.API/.vs/EmployeeManagement.API.slnx/FileContentIndex
