################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement.API/.vs/EmployeeManagement.API.slnx/FileContentIndex
/EmployeeManagement.API/.vs/EmployeeManagement.API/CopilotIndices/18.8.1055.19665
/EmployeeManagement.API/obj/Debug/net10.0/EmployeeManagement.API.AssemblyInfo.cs
/EmployeeManagement.API/obj/Debug/net10.0/EmployeeManagement.API.AssemblyInfoInputs.cache
EmployeeManagement.API/obj
EmployeeManagement.API/debug
EmployeeManagement.API/.vs
/EmployeeManagement.API/obj/Debug/net10.0/EmployeeManagement.API.assets.cache
/EmployeeManagement.API/obj/Debug/net10.0/EmployeeManagement.API.csproj.AssemblyReference.cache
/EmployeeManagement.API/obj/Debug/net10.0/EmployeeManagement.API.GeneratedMSBuildEditorConfig.editorconfig
/EmployeeManagement.API/obj/EmployeeManagement.API.csproj.nuget.dgspec.json
/EmployeeManagement.API/obj/EmployeeManagement.API.csproj.nuget.g.props
/EmployeeManagement.API/obj/EmployeeManagement.API.csproj.nuget.g.targets
/EmployeeManagement.API/obj/project.assets.json
/EmployeeManagement.API/obj/project.nuget.cache
/EmployeeManagement.API/obj/Debug/net10.0/rpswa.dswa.cache.json
/EmployeeManagement.API/obj/Debug/net10.0/rpswa.dswa.cache.json
.vs
debug
obj
/EmployeeManagement.API/obj/Debug/net10.0/rpswa.dswa.cache.json
